* {
	margin:0 ;
	padding: 0;
}

nav {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

html,body {
	height: 100%;
}
.slider {
	background-image: linear-gradient(to bottom, rgba(0,0,0.8), rgba(0,0,0,0.7)),url(/resources/static/img/bg.jpg);
	background-size: cover;
	background-position :center;
	height: 100%;
	padding-top: 170px;
	background-attachment:fixed;
}
.slider h2, .slider h5 {
	text-align: center;
	color: #fff;
}
h4 {
	text-align: center;
	padding-bottom: 10px;
}
.search {
	background: #fff !important;
	padding: 0px 25px !important;
	border-radius: 50px 0px 0px 50px !important;
	border-bottom: none !important;
	margin-top: 30px !important;
	color: grey !important;
	font-weight: bold !important;
	width: 80% !important;
}
.slider button {
	height: 3rem;
	font-size: 16px;
	position: relative;
	right: 3.5px;
	top: -1px;
	border: 0px !important;
	border-radius: 0 !important;
	color: #fff;
	border-radius: 0 50px 50px 0 !important;
}
nav .search {
    margin-top: 0px !important;
    position: relative;
    left: 90%;
    width: 100% !important;
}
.result-1 {
    margin-top: 30px;
}
.result-1:first-child{
    margin-top: 0px !important;
}
.footer {
	color:#fff !important;
	padding:20px;
}
.sidenav1 {
    height: 100% !important;
    position: fixed !important;
    width: 140px;
    background-color: #ff1744 !important;
}
.sidenav1 ul li {
	display: block !important;
	width: 100% !important;
	border-bottom: 1px solid  rgb(238, 224, 224);
}
.sidenav1 ul li a {
	text-align: center;
}
.sidenav1 ul li:hover {
    background-color: red;
}
.box {
  position: absolute;
  top: 10% !important;
  right: 10%;
}

.box select {
  background-color: #fff;
  position: absolute;
  top: 25% !important;
  right: 10%;
  color: #ff1744;
  padding: 4px;
  width: 100px;
  border: none;
  font-size: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-align: center;
}

.box::before {
  content: "\fff";
  font-family: FontAwesome;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}







