<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vegetable Products</title>
<link th:href="@{/css/materialize.css}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
</head>
<body>
	<nav class="red accent-3">
		<div class="container">
			<div class="nav-wrapper">
		      <a href="#!" class="brand-logo">Infonto Search</a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="login"><i class="material-icons">lock_outline</i></a></li>
		      </ul>
		    </div>
		</div>
  	</nav>
  	<section class="slider">
  		<h2>Infonto Search</h2>
  		<h5>It is very expensive to give bad medical care to poor people in a rich country.</h5>
  		<div class="container"><input placeholder="Search" class="col s12 search"></div>
  	</section>
  	
  	<!--<section class="red accent-3">
  		<footer class="footer">
          
        </footer>
  	</section>-->
<script th:src="@{/js/materialize.js}"></script>
</body>
</html>